body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-quella: Quella;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-1: #c1dcdc;
  --color-2: #1e1e1e;
  --color-gray-100: rgba(30, 30, 30, 0.75);
  --color-4: rgba(30, 30, 30, 0.5);
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-xs: 12px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-29xl: 48px;
  --padding-77xl: 96px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-9xs-5: 3.5px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-181xl: 200px;
}
