.contacts,
.greenmind,
.home,
.products {
    text-decoration: none;
    display: inline-block;
}

.greenmind {
    position: relative;
    color: inherit;
    min-height: 39px;
    white-space: nowrap;
}


.contacts,
.home,
.products {
    position: absolute;
    top: 0;
    font-weight: 500;
}

.home {
    left: 0;
    color: var(--color-2);
    min-width: 54px;
}

.contacts,
.products {
    left: 102px;
    color: inherit;
    min-width: 81px;
}

.contacts {
    left: 231px;
    min-width: 84px;
}

.menu-items {
    margin: 0;
    align-self: stretch;
    height: 27px;
    position: relative;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-4);
    font-family: var(--font-poppins);
}

.logo-container,
.menu-items-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-items-wrapper {
    margin: 0;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
}

.logo-container {
    width: 100%;
    flex-direction: row;
    gap: 94px;
    max-width: 100%;
}

.cart-icon,
.person-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.icon-divider {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-2);
    box-sizing: border-box;
}

.filterright-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.user-actions,
.user-icons {
    display: flex;
    align-items: flex-start;
}

.user-icons {
    align-self: stretch;
    height: 24px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.user-actions {
    width: 216px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
}

.logo-container-parent {
    align-self: stretch;
    display: flex;
    position: fixed;
    top: 0;
    margin-top: 10px;
    z-index: 1030;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1248px;
    width: 90%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: 24px;
    color: var(--color-2);
    font-family: var(--font-quella);
}

.sticky-header {
    background-color: var(--color-1); /* Change to white background on scroll */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for lifting effect */
    padding: 15px;
    border-radius: 10px;

}

.buy-your-dream {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 64px;
    font-weight: 800;
    font-family: inherit;
}

.label-separator,
.plant-species {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 64px;
}

.plant-species {
    font-size: var(--font-size-lg);
    min-width: 122px;
}

.category-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.category-divider {
    height: 65px;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-2);
    box-sizing: border-box;
}

.customers,
.div {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 76px;
}

.customers {
    font-size: var(--font-size-lg);
    min-width: 100px;
}

.category-labels1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.categories-preview {
    width: 318px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-13xl);
    color: var(--color-2);
}

.hero-image-icon {
    width: 203.5px;
    height: 192.1px;
    position: absolute;
    margin: 0 !important;
    right: -165.5px;
    bottom: -186.1px;
    object-fit: contain;
}

.buy-your-dream-plants-parent,
.search-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.buy-your-dream-plants-parent {
    align-self: stretch;
    position: relative;
    gap: var(--gap-5xl);
}

.search-label {
    width: 232px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 37px;
    padding: 10px 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: var(--font-size-lg);
    color: var(--color-4);
}

.search-input-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    width: 100%;
    height: 100%;
    display: none;
}

.search-icon {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 1;
}

.search-input {
    height: 48px;
    width: 48px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
}

.search-bar {
    width: 449px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 18px;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
}

.frame-container,
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-container {
    align-self: stretch;
    gap: var(--gap-29xl);
    max-width: 100%;
}

.hero-content {
    flex: 1;
    padding: 35px 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 684px);
    flex-shrink: 0;
}

.banner-background {
    position: absolute;
    top: 110px;
    left: 0;
    border-radius: var(--br-181xl) var(--br-181xl) 0 var(--br-181xl);
    background-color: var(--color-2);
    width: 450px;
    height: 400px;
}

.unsplash-claaxa4dsnc-removebg-icon {
    position: absolute;
    height: calc(100% - 5px);
    top: 5px;
    bottom: 0;
    left: 55px;
    max-height: 100%;
    width: 411px;
    object-fit: cover;
    z-index: 1;
}

.banner-shape-icon {
    position: absolute;
    top: 0;
    left: 359px;
    width: 159.2px;
    height: 180.3px;
    object-fit: contain;
    z-index: 2;
}

.image-banner {
    height: 519px;
    flex: 1;
    position: relative;
    max-width: calc(100% - 678px);
}

.frame-group,
.hero-content-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    padding-top: 50px;
}

.hero-content-parent {
    height: 512px;
    border-radius: 24px;
    background-color: var(--color-1);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 13px 3px 125px var(--padding-29xl);
    box-sizing: border-box;
    gap: 166px;
}

.frame-group {
    flex-direction: column;
    gap: 40px;
}

.best-selling-plants {
    margin: 0;
    align-self: stretch;
    height: 90px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
}

.easiest-way-to,
.see-more {
    position: relative;
    font-weight: 500;
}

.easiest-way-to {
    align-self: stretch;
}

.see-more {
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-2);
    text-align: left;
    display: inline-block;
    min-width: 86px;
}

.arrowright-icon {
    width: 24px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.more-icon,
.view-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs-5) 0 0;
}

.view-more {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-1);
    border-radius: var(--br-5xs);
    flex-direction: row;
    gap: var(--gap-3xs);
}

.selling-description {
    width: 196px;
    gap: var(--gap-5xl);
    font-size: var(--font-size-lg);
    color: var(--color-4);
}

.best-selling-plants-parent,
.selling-content,
.selling-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.best-selling-plants-parent {
    align-self: stretch;
    gap: 16.7px;
}

.selling-content {
    width: 256px;
    padding: 2.4px 0 0;
    box-sizing: border-box;
}

.cards-icon {
    z-index: 1;
}

.cards-icon,
.cards-icon1,
.cards-icon2 {
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    min-height: 363px;
}

.plant-cards {
    align-self: stretch;
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48.1px;
    grid-template-columns: repeat(3, minmax(224px, 1fr));
}

.natural-plants {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 128px;
}

.plant-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6px 0 0;
}

.artificial-plants,
.artificial-plants1 {
    position: relative;
    font-weight: 500;
}

.card-details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.div1,
.div2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 88px;
    white-space: nowrap;
}

.div2 {
    min-width: 77px;
}

.single-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 11px 0 0;
}

.div3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 92px;
    white-space: nowrap;
}

.card-price,
.plant-card,
.product-grid {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.product-card {
    width: 300px;
    flex: 1;
}

.product-card img {
    width: 100%;
    height: 350px;
}

.card-price {
    width: 786.7px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    color: var(--color-4);
}

.product-grid {
    justify-content: flex-start;
}

.plant-card {
    width: 829.7px;
    gap: 7px;
}

.product-grid {
    flex: 1;
    gap: var(--gap-xs);
    min-width: 646px;
    font-size: var(--font-size-lg);
}

.best-selling {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
    font-size: var(--font-size-13xl);
    color: var(--color-2);
}

.best-selling,
.final-design-inner,
.frame-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.frame-parent {
    width: 1250px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 96px;
}

.final-design-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 113px 22px;
    box-sizing: border-box;
    text-align: left;
    font-size: 64px;
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.about-us1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}

.order-now-and {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-4);
}

.about-us-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
}

.detail-items-child {
    width: 96px;
    height: 96px;
    position: relative;
}

.large-assortment {
    position: relative;
}

.detail-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.we-offer-many {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
}

.details-columns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    min-width: 300px;
    max-width: 100%;
}

.frame-child {
    width: 96px;
    height: 96px;
}

.fast-free,
.frame-child {
    position: relative;
}

.frame-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.day-or-less {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
}

.details-columns1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    min-width: 300px;
    max-width: 100%;
}

.frame-item {
    width: 96px;
    height: 96px;
    position: relative;
}

.support {
    position: relative;
    display: inline-block;
    min-width: 119px;
}

.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.answers-to-any {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
}

.details-columns2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    min-width: 300px;
    max-width: 100%;
}

.about-details {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-5xl);
    font-size: var(--font-size-lg);
    color: var(--color-black);
}

.about-content,
.about-details,
.about-us {
    display: flex;
    max-width: 100%;
}

.about-content {
    width: 1248px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    flex-shrink: 0;
}

.about-us {
    align-self: stretch;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0 var(--padding-xl) 165px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-2);
    font-family: var(--font-poppins);
}

.categories {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
}

.categories-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-21xl);
    width: 100%;
}

.find-what-you {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-4);
}

.frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.final-design-child {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-77xl);
}

.first-links-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.natural-plants1 {
    position: relative;
}

.link-columns,
.second-links {
    display: flex;
    align-items: flex-start;
}

.second-links {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
}

.link-columns {
    margin-top: -96px;
    height: 551px;
    width: 352px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
}

.accessories-title-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.plant-accessories {
    position: relative;
}

.accessories-title-parent {
    align-self: stretch;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.horem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
}

.frame-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.explore {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-2);
    text-align: center;
    display: inline-block;
    min-width: 65px;
}

.arrowright-icon1 {
    height: 20px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.explore-button,
.frame-parent3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.explore-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-white);
    border-radius: var(--br-5xs);
    flex-direction: row;
    gap: var(--gap-3xs);
}

.explore-button:hover {
    background-color: #e6e6e6;
}

.frame-parent3 {
    width: 352px;
    flex-direction: column;
    gap: var(--gap-5xl);
    max-width: 100%;
}

.link-columns-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.artificial-plants2 {
    position: relative;
}

.artificial-plants-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
}

.category-links,
.link-columns1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.link-columns1 {
    margin-top: -96px;
    height: 551px;
    width: 352px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.category-links {
    align-self: stretch;
    background-color: var(--color-1);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-29xl) var(--padding-77xl) 101px;
    box-sizing: border-box;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-2);
    font-family: var(--font-poppins);
}

.what-customers-say {
    margin: 0;
    width: 472px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
}

.dots,
.dots1,
.dots2 {
    border-radius: var(--br-xs);
}

.dots {
    height: 100%;
    width: 48px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-1);
}

.dots1,
.dots2 {
    height: 6px;
    width: 12px;
    position: relative;
    background-color: var(--color-gainsboro-100);
}

.slider-dots {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    gap: 6px;
}

.testimonial-content,
.testimonial-slider {
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) 0 0;
    box-sizing: border-box;
}

.testimonial-content {
    width: 1268px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-xl) 0 0;
    max-width: 100%;
    gap: var(--gap-xl);
}

.jorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}

.profile-image-icon {
    position: absolute;
    height: 19.9%;
    width: 32%;
    top: 30.1%;
    right: 44.67%;
    bottom: 50%;
    left: 23.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.unsplash-5aguycw-pjw-removebg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.profile-image-parent {
    height: 206px;
    width: 150px;
    position: absolute;
    margin: 0 !important;
    bottom: -104px;
    left: -35px;
    z-index: 1;
}

.john-doe,
.youtuber {
    position: relative;
    display: inline-block;
    min-width: 86px;
}

.youtuber {
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-4);
    min-width: 56px;
}

.author-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.starfill-icon {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs-5) 0 0;
}

.empty {
    position: relative;
    display: inline-block;
    min-width: 29px;
    z-index: 2;
}

.author-details,
.testimonial-author,
.user-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.author-details {
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.testimonial-author,
.user-detail {
    max-width: 100%;
}

.testimonial-author {
    width: 582px;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.user-detail {
    flex: 1;
    justify-content: flex-end;
}

.jorem-ipsum-dolor-sit-amet-co-parent,
.user {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.user {
    align-self: stretch;
    flex-direction: row;
    position: relative;
    color: var(--color-2);
}

.jorem-ipsum-dolor-sit-amet-co-parent {
    width: 800px;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-29xl) var(--padding-29xl) 102px;
    box-sizing: border-box;
    gap: 54px;
}

.jorem-ipsum-dolor1 {
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
}

.jorem-ipsum-dolor-sit-amet-co-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 19px;
    box-sizing: border-box;
    max-width: 100%;
}

.vector-icon {
    position: absolute;
    height: 21.35%;
    width: 37.5%;
    top: 26.04%;
    right: 47.66%;
    bottom: 52.6%;
    left: 14.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.unsplash-o3ymvt7wf9u-removebg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.vector-parent {
    height: 192px;
    flex: 1;
    position: relative;
}

.john-doe1,
.youtuber1 {
    position: relative;
    display: inline-block;
    min-width: 86px;
}

.youtuber1 {
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-4);
    min-width: 56px;
}

.john-doe-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-wrapper {
    flex-direction: column;
    padding: 45px 0 0;
}

.frame-parent5,
.frame-parent6,
.frame-wrapper,
.testimonial,
.testimonial-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent6 {
    width: 227px;
    flex-direction: row;
    gap: 13px;
    color: var(--color-2);
}

.frame-parent5,
.testimonial,
.testimonial-card {
    max-width: 100%;
}

.frame-parent5 {
    width: 800px;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-29xl) 29px 0;
    box-sizing: border-box;
    gap: 9px;
}

.testimonial,
.testimonial-card {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-29xl);
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}

.testimonial {
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-77xl) 0 230px var(--padding-77xl);
    box-sizing: border-box;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.greenmind1 {
    height: 29px;
    position: relative;
    display: inline-block;
    min-width: 108px;
}

.brand-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.we-help-you {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.slogan {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs);
    color: var(--color-4);
    font-family: var(--font-poppins);
}

.social-icons-child,
.social-icons-inner,
.social-icons-item {
    height: 48px;
    width: 48px;
    position: relative;
    min-height: 48px;
}

.footer-columns,
.social-icons {
    display: flex;
    align-items: flex-start;
}

.social-icons {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.footer-columns {
    width: 192px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.all-right-reserved {
    position: relative;
    font-weight: 500;
}

.copyright,
.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.copyright {
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
    color: var(--color-4);
    font-family: var(--font-poppins);
}

.footer-content {
    flex-direction: column;
    gap: 98px;
    min-width: 430px;
    max-width: 100%;
}

.about,
.blog,
.information,
.product {
    position: relative;
    display: inline-block;
}

.information {
    color: var(--color-2);
    min-width: 111px;
}

.about,
.blog,
.product {
    min-width: 54px;
}

.blog,
.product {
    min-width: 70px;
}

.blog {
    min-width: 40px;
}

.link-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.company {
    position: relative;
    display: inline-block;
    color: var(--color-2);
    min-width: 93px;
}

.career,
.community,
.our-story {
    position: relative;
    display: inline-block;
    min-width: 107px;
}

.career,
.our-story {
    min-width: 62px;
}

.our-story {
    min-width: 82px;
}

.link-categories1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.contact {
    display: inline-block;
    color: var(--color-2);
    min-width: 76px;
}

.contact,
.getting-started {
    position: relative;
}

.pricing,
.resources {
    position: relative;
    display: inline-block;
    min-width: 61px;
}

.resources {
    min-width: 93px;
}

.link-categories2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.links,
.site-map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.links {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.site-map {
    width: 452px;
    justify-content: flex-start;
    min-width: 452px;
    color: var(--color-4);
    font-family: var(--font-poppins);
}

.final-design,
.footer {
    display: flex;
    box-sizing: border-box;
    text-align: left;
}

.footer {
    align-self: stretch;
    background-color: var(--color-1);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-29xl) var(--padding-77xl);
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 3;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-quella);
}

.final-design {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 44px 0 0;
    line-height: normal;
    letter-spacing: normal;
    font-size: var(--font-size-13xl);
    color: var(--color-2);
    font-family: var(--font-poppins);
}

@media screen and (max-width: 1350px) {
    .hero-content-parent {
        gap: 83px;
        padding-left: var(--padding-5xl);
        box-sizing: border-box;
    }

    .final-design-inner {
        padding-bottom: 73px;
        box-sizing: border-box;
    }

    .category-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonial-card {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1125px) {
    .hero-content,
    .image-banner {
        display: none;
        max-width: 100%;
    }

    .category-links {
        padding-top: var(--padding-12xl);
        padding-bottom: 66px;
        box-sizing: border-box;
    }

    .footer-content,
    .site-map {
        flex: 1;
    }

    .footer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .menu-items-wrapper {
        display: none;
    }

    .logo-container {
        width: 238px;
        gap: 47px;
    }

    .buy-your-dream {
        font-size: 51px;
        line-height: 51px;
    }

    .div,
    .label-separator {
        font-size: var(--font-size-7xl);
    }

    .frame-container {
        gap: var(--gap-5xl);
    }

    .hero-content-parent {
        gap: 41px;
        padding-top: var(--padding-xl);
        padding-bottom: 81px;
        box-sizing: border-box;
    }

    .frame-group {
        gap: var(--gap-xl);
    }

    .best-selling-plants {
        font-size: var(--font-size-7xl);
    }

    .cards-icon,
    .cards-icon1,
    .cards-icon2 {
        width: 100%;
    }

    .plant-cards {
        gap: var(--gap-5xl);
        justify-content: center;
        grid-template-columns: minmax(224px, 1fr);
    }

    .card-details {
        flex-wrap: wrap;
    }

    .product-grid {
        min-width: 100%;
    }

    .frame-parent {
        gap: var(--gap-29xl);
    }

    .final-design-inner {
        padding-bottom: 47px;
        box-sizing: border-box;
    }

    .about-us1 {
        font-size: var(--font-size-7xl);
    }

    .about-content {
        gap: var(--gap-5xl);
    }

    .about-us {
        padding-bottom: 107px;
        box-sizing: border-box;
    }

    .categories {
        font-size: var(--font-size-7xl);
    }

    .category-links {
        padding-left: var(--padding-29xl);
        padding-right: var(--padding-29xl);
        box-sizing: border-box;
    }

    .what-customers-say {
        font-size: var(--font-size-7xl);
    }

    .testimonial-content {
        flex-wrap: wrap;
    }

    .jorem-ipsum-dolor-sit-amet-co-parent {
        padding-left: var(--padding-5xl);
        padding-right: var(--padding-5xl);
        box-sizing: border-box;
    }

    .testimonial,
    .testimonial-card {
        gap: var(--gap-5xl);
    }

    .testimonial {
        padding-left: var(--padding-29xl);
        padding-top: 62px;
        padding-bottom: 149px;
        box-sizing: border-box;
    }

    .footer-content {
        min-width: 100%;
    }

    .links {
        flex-wrap: wrap;
    }

    .site-map {
        min-width: 100%;
    }

    .footer {
        padding-left: var(--padding-29xl);
        padding-right: var(--padding-29xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .logo-container {
        gap: 23px;
    }

    .buy-your-dream {
        font-size: 38px;
        line-height: 38px;
    }

    .div,
    .label-separator {
        font-size: var(--font-size-lgi);
    }

    .search-bar {
        flex-wrap: wrap;
    }

    .hero-content-parent {
        height: auto;
        gap: 21px;
    }

    .best-selling-plants {
        font-size: var(--font-size-lgi);
    }

    .card-price {
        flex-wrap: wrap;
    }

    .frame-parent {
        gap: var(--gap-5xl);
    }

    .about-us1,
    .categories {
        font-size: var(--font-size-lgi);
    }

    .category-links {
        padding: var(--padding-xl) var(--padding-xl) 43px;
        box-sizing: border-box;
    }

    .what-customers-say {
        font-size: var(--font-size-lgi);
    }

    .testimonial-author {
        flex-wrap: wrap;
    }

    .jorem-ipsum-dolor-sit-amet-co-parent {
        gap: 27px;
    }

    .testimonial {
        padding-left: var(--padding-xl);
        padding-top: var(--padding-21xl);
        padding-bottom: 97px;
        box-sizing: border-box;
    }

    .footer-content {
        gap: 49px;
    }

    .site-map {
        gap: var(--gap-5xl);
    }

    .footer {
        padding: var(--padding-12xl) var(--padding-xl);
        box-sizing: border-box;
    }
}

.custom-link {
    color: #737373;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.custom-link:active {
    color: black;
}

.custom-link:hover {
    color: black;
}

.order-card {
    max-width: 540px; /* Adjust width as needed */
}

.order-img {
    width: 40px; /* Adjust size as needed */
    height: auto;
}

